.formspeaker{
  text-align: center;
  margin-inline: 1rem;
  &__input{
    display: flex;
    flex-direction: column;
    margin-block:1rem ;
    &__detail{
      height: 4rem;
      padding: 1rem;

    }
    &__label::after{
      content: "*";
      vertical-align: super;
      font-size: .5rem;
    }
    &__userkeyword::after{
      content: "* [separate by comma] ";
      vertical-align: super;
      font-size: .5rem;
    }
    &__labeldetail{
      margin: .5rem 0 0 .5rem;

    }
    &__labeldetail::after{
      content: "*";
      vertical-align: super;
      font-size: .5rem;
    }
  }
  &__price{
    margin: 0;
    background-color:$color-footer;
    // border-radius: ;
  }
}
.formspeaker__input__block {
  border: 0;
  border-bottom : 1.5px black solid;

}
label {
  position:absolute;
  transition: all .2s;
}
div:focus-within label {
  opacity:.8;
  transform: translatey(-.9rem)scale(.8);
}
fieldset{
  border: 0;
}
@media only screen and (min-width: 1000px){
  .formspeaker{
    & h1 {
      margin-block-end: 1rem;
    }
    & h2 {
      margin-block:.5rem ;

    }
    & p {
      margin-block-start:0 ;
      margin-inline: auto;
      width: 42%;
    }
  }
}