.icon-burger:before {
  content: "\e93e";
  font-family:icon;
}
.icon-schedule:before {
  content: "\e93f";
  font-family:icon;
}
.icon-loop:before {
  content: "\e940";
  font-family:icon;
}
.icon-contact:before {
  content: "\e941";
  font-family:icon;
}
.icon-event:before {
  content: "\e942";
  font-family:icon;
}
.icon-home:before {
  content: "\e943";
  font-family:icon;
}
.icon-card:before {
  content: "\e944";
  font-family:icon;
}
.icon-paypal:before {
  content: "\e945";
  font-family:icon;
}
.icon-tw:before {
  content: "\e946";
  font-family:icon;
}
.icon-slack:before {
  content: "\e947";
  font-family:icon;
}
.icon-heart_full:before {
  content: "\e948";
  font-family:icon;
}
.icon-heart_line:before {
  content: "\e949";
  font-family:icon;
}
.icon-square_full:before {
  content: "\e94a";
  font-family:icon;
}
.icon-square_line:before {
  content: "\e94b";
  font-family:icon;
}
.icon-spade_full:before {
  content: "\e94c";
  font-family:icon;
}
.icon-spade_line:before {
  content: "\e94d";
  font-family:icon;
}
.icon-clover_full:before {
  content: "\e94e";
  font-family:icon;
}
.icon-clover_line:before {
  content: "\e94f";
  font-family:icon;
}
