.nav{
  padding: 1rem;
  &__logo{
    margin-inline-end: auto;
    max-width: 25%;
  }
  &__burger{
    display: none;
  }
}
.nav ul {
  list-style-type: none;
  display: flex;
}
.nav li{
  margin-inline: .5rem;
}
.breadcrumb{
  display: flex;
  &__fraction{
    margin: 0;
    margin-inline:0.5rem ;
    
  }

}