.speaker{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(13rem,1fr)); 
  list-style: none;
  padding: 0%;
    &__card{
      list-style: none;
      background-color: $color-bg;
    }
    &__profil{
      display: flex;
      justify-content: space-between;
    }
    &__info p{
      color: #a6a2b3;
      font-family: $font-lp;
      font-weight: 200;
      font-size: .85rem;
      margin-inline-start: 1rem;
    }
    &__profil h2{
      @include column();
      font-family: $font-museo-small;
      font-weight: 400;
      font-size: 1rem;
      margin-inline-start: 1rem;
      color: $color-sndtypo;
    }
    &__description{
      margin-inline: 1rem;
      opacity: 0;
      width: 0;
      height: 0;
      & p{
        margin-block-start: -.6rem;
        font-size: .8rem;
        font-family: $font-lp;
        font-weight: 200;
      }
      & h3{
        font-family: $font-lp;
        font-weight: 400;
      }
    }
    &__time{
      margin-block-start: 2rem;
      margin-inline: 1rem;
      display: flex;
      opacity: 0;
      width: 0;
      height: 0;
      font-size: .6rem;
      & a {
        font-size: .6rem;
        color: black;
      }
    }
    &__btn{
      margin-inline-start: auto;
      border: 1px solid $color-btn;
      padding-inline-start:3rem ;
      padding-inline-end: 1rem;
      padding-block: .3rem;
      display: flex;
      margin-block-start: -.3rem;
      border-radius:1.5rem/1.75rem;
      text-transform: uppercase;
      background-color: #ffefe7;
      & a {
        color: $color-btn;
      }
    }
    &__time p{
      margin-inline: .3rem;
    }
    &__photo{
      height: 30%;
      width: 30%;
      border-radius: 100%;
      align-self: center;
      margin-inline-end:1rem ;
    }
    &__row {
      flex-direction: row!important;
      gap: .2rem;
    }
    &__disable{
      opacity: 0;
      width: 0;
      height: 0;  
    }
    &__active{
      opacity: 1;
      width: auto;
      height: auto;  
    }
  }
.card-active{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #ffefe7;
}

@media only screen and (min-width: 1000px){
  .speaker{
    gap: 2rem;
    margin-inline: 2rem;
     &__card{
     aspect-ratio: 0.75;
    }
    &__profil{
      flex-direction: column;
    }
    &__profil h2{
      font-family: $font-museo-regular;
      font-size: 1.5rem;
      margin-block-end: .5rem;
    }
    &__profil p {
      font-size: 1.2rem;
    }
    &__photo{
      order:-2;
     }
    &__description{
    }
    &__time{
      margin-block-end:1rem ;
    }
    &__btn{
      padding: .5rem;
      background-color: #ffefe7;
    }
    &__time p{
    }
    &__photo{
      border-radius: 0;
      width: 100%;
      margin: 0 ;
      order: -2;
    }
  }
  .speaker__disable {
    width: 0;
  }
}