.teaser {
  width: 100%;
  display: grid;
  margin-block-start: -3rem;
  grid-template-rows:$tier-value $tier-value $tier-value ;
  grid-template-columns: 20% 20% 20% 20% 20%;
  // grid-template-rows: @include $tier-value;
  // noter les colonnes et les lignes
  //utiliser une mixin et une fonction calcul pour les 33%
  &__slogan {
    grid-area: 2/1/4/4;
    order: 1;
    font-size: 1.5rem;
    margin-block:0 ;
    margin-inline-start:1rem ;
    color: white;
    // a ajuster avec les colones et l'order
  }
  &__background{
    background-color:$color ;
    grid-area: 2/1/4/6;
    order: -1;
  }
  &__image {
    grid-area: 1/2/4/6;
    max-width: 50%;
  }
}
//A terminer plus tard !!!!!