.speaker{
  display: flex;
  flex-direction: column;
  border:1px solid black;
  &__profil{

  }
  &__description{
    
  }
  &__time{
    display: flex;
    &__btn{
      margin-inline-start: auto;
      border: 1px solid black;
      border-radius: 5px;
    }
  }

}
.speaker__time a {
  margin: 0;
}